# Node related
NODE_ENV=dev

# App related
APP="Your App"
PORT=3000
HOSTNAME=http://localhost:3000
APP_SECRET=somekey

# DB related
MONGOURI=mongodb://localhost:27017/yourapp
MONGOTESTURI=mongodb://localhost:27017/test-app

# Mail transport
TRANSPORTER_HOST=smtp.mymail.com
TRANSPORTER_PORT=2525
TRANSPORTER_USERNAME=mailusername
TRANSPORTER_PASSWORD=mailpass
