NODE_ENV=dev
APP="Your App"
PORT=3000
HOSTNAME=http://localhost:3000
MONGOURI=mongodb://localhost:27017/yourapp
MONGOTESTURI=mongodb://localhost:27017/test-app
APP_SECRET=somekey
TRANSPORTER_SERVICE=example-gmail
TRANSPORTER_EMAIL=example@email.com
TRANSPORTER_PASSWORD=gmail-application_password
DEFAULT_ADMIN_NAME=admin
DEFAULT_ADMIN_EMAIL=example@email.com
DEFAULT_ADMIN_PASSWORD=password